* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
#container {
  height: auto;
  width: 60%;
  margin: 0 auto;
}
table tr {
  height: 20px;
}
table tr td {
  width: 125px;
  border-left: 1px solid black;
  margin: 0;
  padding: 2px;

}
